body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(172,148,233,1) 98%);
}
 header {

    display:flex;
    justify-content: center;

 }

 .nav-lista {
    display:flex;
    list-style: none;
    font-size: 40px;
    color: blueviolet;
    gap: 28px;
    text-transform: uppercase;
 }

 .nav-item:hover {
    cursor: pointer;
    background-color: azure;
    color: antiquewhite;
 }